<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>by: James Benitez</h3>
    <p>
      Welcome to <%= title %> my journey to the Hi Tech Industry. I'll be
      talking about the struggles, success and maybe dramas along the way
    </p>
    <a href="/signup"><button>SignUp</button></a>
    <a href="/login"><button>Login</button></a>
    <p>Doesn't have an account yet? SignUp</p>
  </body>
</html>
