<div class="index-container">
  <h1><%= title %></h1>
  <h3>by: James Benitez</h3>
  <p>
    Welcome to <%= title %> a mini self-project on this project <br />
    I utilized passport, bcrypt, express-session, express-flash etc... <br />
    used mongoDB Atlas as the my DB hope you take a look into the code thank
    you.
  </p>
  <div>
    <a href="/signup"><button class="btn btn-primary">SignUp</button></a>
    <a href="/login"><button class="btn btn-primary">Login</button></a>
  </div>
  <p>Doesn't have an account yet? SignUp</p>
</div>
