<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form>
      <div class="form-group col justify-content-md-center">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="staticEmail" />
        </div>
        <label for="inputPassword" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputPassword" />
        </div>
      </div>
    </form>
  </body>
</html>
