<div class="container-fluid signup-container">
  <% include ./error %>
  <form action="/signup" method="POST">
    <div class="form-group row justify-content-md-center">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-5">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="<%= typeof name != 'undefined' ? name : '' %>"
          required
        />
      </div>
    </div>
    <div class="form-group row justify-content-md-center">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-5">
        <input
          type="email"
          class="form-control"
          id="staticEmail"
          name="email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
          required
        />
      </div>
    </div>
    <div class="form-group row justify-content-md-center">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Password</label
      >
      <div class="col-sm-5">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
          required
        />
      </div>
    </div>
    <div class="form-group row justify-content-md-center">
      <label for="inputConfirmPassword" class="col-sm-2 col-form-label"
        >Confirm Password</label
      >
      <div class="col-sm-5">
        <input
          type="password"
          class="form-control"
          id="inputConfirmPassword"
          name="confirm_password"
          value="<%= typeof confirm_password != 'undefined' ? confirm_password : '' %>"
          required
        />
      </div>
    </div>
    <div class="row justify-content-md-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
